= form_for @trip do |f|
  = render "shared/form_errors", object: @trip

  .row
    .col-xs-12.col-sm-6
      .form-group
        = label_tag :start_date
        .date-select
          = text_field_tag(:start_date, nil, placeholder: 'Select start date...', class: 'form-control datepicker')
          = f.hidden_field(:start_date)

    .col-xs-12.col-sm-6
      .form-group
        = label_tag :end_date
        .date-select
          = text_field_tag(:end_date, nil, placeholder: 'Select end date...', class: 'form-control datepicker')
          = f.hidden_field(:end_date)

  .row
    .col-md-12
      - 6.times do |n|
        = render 'destinations/form', f: f, n: n

      = link_to("Add another destination", "#", id: "add-destination")

  .row
    .col-md-12
      = f.label :trip_status

  .row
    .col-sm-6.form-goup
      - Trip::TIME_PERIODS.each do |time_period_option|
        .radio
          %label
            = f.radio_button :time_period, time_period_option
            = time_period_option.titleize

  .row
    .col-sm-6.form-group
      - Trip::CERTAINTIES.each do |certainty_option|
        .radio
          %label
            = f.radio_button :certainty, certainty_option
            = certainty_option.titleize

  .row
    .col-sm-12.form-group
      = f.label :purpose, "Purpose of trip"
      = f.select :purpose, options_for_select(Trip::PURPOSES.map { |p| [p.capitalize, p] }, @trip.purpose), {prompt: "Select a reason..."}, class: "form-control"

  .row
    .col-sm-12.form-group
      = f.text_field :comments, placeholder: "Comment (optional)", class: "form-control"

  .row
    .col-sm-12.form-group.checkbox
      %label
        = f.check_box :private
        Mark trip as private
        .help-block
          Trip will be added to your plans but will only be visible to you

  .row
    .col-sm-12.form-group.checkbox
      %label
        = f.check_box :busy
        Mark trip as busy
        .help-block
          Visible to network but marked as busy

  = f.submit( @trip.persisted? ? "Update Trip" : "Save Trip", class: "btn btn-neutral")