- if current_user.friend_requests.any?
  .friend-title= "Awaiting approval (#{current_user.friend_requests.count})"
  - for request in current_user.friend_requests
    .friend-panel-info
      == #{link_to(request.user.name, user_path(request.user))} wants to be your #{request.type}
      .friend-btns
        = link_to("Approve", accept_friendship_path(request), method: :post, class: "btn btn-success btn-xs")
        = link_to("Ignore", friendship_path(request), method: :delete, class: "btn btn-default btn-xs")

    - unless current_user.friend_requests.last == request
      %hr