- if current_user.friend_requests.any?
  %h5== Awaiting Approval (#{current_user.friend_requests.count})
  - for request in current_user.friend_requests
    == #{link_to(request.user.name, user_path(request.user))} wants to be your #{request.type}
    .friend-btns
      = link_to("Approve", accept_friendship_path(request), method: :post, class: "btn btn-success btn-sm")
      = link_to("Ignore", friendship_path(request), method: :delete, class: "btn btn-default btn-sm")