.row
  .col-md-2.col-sm-2.col-xs-4.borderright
    %p.title World Coverage
    %p.stat= number_to_percentage(current_user.world_domination, precision: 2)
    / %p.leaderboard
    /   %i= fa_icon("group") 
    /   1
  .col-md-2.col-sm-2.col-xs-4.borderright
    %p.title Countries
    %p.stat= current_user.country_count
    / %p.leaderboard
    /   %i= fa_icon("group") 
    /   2
  .col-md-2.col-sm-2.col-xs-4.borderright
    %p.title Cities
    %p.stat= current_user.city_count
    / %p.leaderboard
    /   %i= fa_icon("group") 
    /   1
  .col-md-2.col-sm-2.col-xs-4.borderright
    %p.title Faves
    %p.stat= current_user.favorite_locations.count
    / %p.leaderboard
    /   %i= fa_icon("group") 
    /   3
  .col-md-2.col-sm-2.col-xs-4.borderright
    %p.title Upcoming
    %p.stat= current_user.trips.upcoming.count
    / %p.leaderboard
    /   %i= fa_icon("group") 
    /   14
  .col-md-2.col-sm-2.col-xs-4
    %p.title Wishlist
    %p.stat= current_user.trips.wishlist.count
    / %p.leaderboard
    /   %i= fa_icon("group") 
    /   22