.well.statbox
  .row
    .col-xs-6.col-sm-4
      %h5 World Domination
      .stat= number_to_percentage(current_user.world_domination, precision: 2)

    .col-xs-6.col-sm-4
      %h5 Countries
      .stat= current_user.country_count

    .col-xs-6.col-sm-4
      %h5 Cities
      .stat= current_user.city_count

    .col-xs-6.col-sm-4
      %h5 Faves
      .stat= current_user.favorite_locations.count

    .col-xs-6.col-sm-4
      %h5 Upcoming
      .stat= current_user.trips.upcoming.count

    .col-xs-6.col-sm-4
      %h5 Wishlist
      .stat= current_user.trips.wishlist.count

  .row
    .col-xs-12.text-center
      = facebook_feed_button("Share World Domination", user_url(current_user), "I've conquered #{number_to_percentage(current_user.world_domination, precision: 2)} of the world! #cotripping")