= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}"
= javascript_include_tag "//platform.linkedin.com/in.js"

.row
  .col-sm-12
    #map-canvas


%div{style: "background-color: #a5d8db; padding: 10px;"}
  %h4.text-center Travel is more fun with friends!
  %p.text-center Share co:tripping on your favorite social network to connect with more friends!
  .buttons.text-center
    .fb-share-button{"data-href" => "http://www.cotripping.com", style: "display: inline-block; margin: 0px 10px;"}
    .linkedin-share-button{style: "display: inline-block; margin: 0px 10px;"}
      %script{type: "IN/Share", "data-url" => "http://www.cotripping.com"}

%div== Travel is more fun with friends! #{link_to("Share co:tripping Facebook", "#", id: "fb-share")} and invite your friends!

%div= link_to("Sign Out", destroy_user_session_path, method: :delete)