= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}"

.row
  #map-canvas

.row#social-invite.text-center
  %h4 Travel is more fun with friends!
  = link_to("Share on Facebook", "#", id: "fb-share", class: "btn btn-default btn-sm")
  = link_to("Share on LinkedIn", "https://www.linkedin.com/cws/share?url=http://www.cotripping.com", id: "linkedin-share", class: "btn btn-default btn-sm", target: "_blank")

.row
  .col-md-3{style: "background-color: gray;"}
    = current_user.name
  .col-md-7
    Center panel
    .temp
      TEMP FACEBOOK CHECK
      .check_1= @temp_fb_check
      .check_2= @temp_fb_check2
  .col-md-2{style: "background-color: gray;"}
    %h3 Friends
    = render "add_friend"
    = render "pending_friend_requests"
    = render "travel_buddies"
    = render "friends"
    = render "outstanding_friend_requests"