= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}"

.row
  #map-canvas

.row#social-invite.text-center
  %h4 Travel is more fun with friends!
  = link_to("Share on Facebook", "#", id: "fb-share", class: "btn btn-default btn-sm")
  = link_to("Share on LinkedIn", "https://www.linkedin.com/cws/share?url=http://www.cotripping.com", id: "linkedin-share", class: "btn btn-default btn-sm", target: "_blank")

.row
  .col-md-3{style: "background-color: gray;"}
    = current_user.name
  .col-md-7
    Center panel
  .col-md-2{style: "background-color: gray;"}
    %h3 Friends
    = render "add_friend"


    - if current_user.pending_friend_requests?
      %h5 Awaiting Approval
      - for request in current_user.friend_requests
        == #{request.user.name} wants to be your #{request.type}.
        .friend-btns
          = link_to("Approve", accept_friendship_path(request), method: :post, class: "btn btn-success btn-sm")
          = link_to("Ignore", friendship_path(request), method: :delete, class: "btn btn-default btn-sm")
