.row
  .col-sm-4.col-md-3
    = render 'planner/user_panel'
    = render 'planner/friend_panel'

  .col-sm-8.col-md-9
    = render 'planner/statbox'
    = render 'planner/add_trip'
    = render 'planner/trips'