= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}"

.row
  #map-canvas

/ - if current_user.sign_in_count <= 5
/   .row#social-invite.text-center
/     %h4 Travel is more fun with friends!
/     = link_to("Share on Facebook", "#", id: "fb-share", class: "btn btn-default btn-sm")
/     = link_to("Share on LinkedIn", "https://www.linkedin.com/cws/share?url=http://www.cotripping.com", id: "linkedin-share", class: "btn btn-default btn-sm", target: "_blank")

.row
  .col-md-12.flash-messages
    - flash.each do |name, msg|
      = content_tag(:div, msg)

.row#dashboard-content
  .col-md-3{style: "background-color: gray;"}
    = current_user.name

  .col-md-7
    Center panel

  .col-md-2
    .well#friend-panel
      %h3.text-center
        %span.header-icon= fa_icon("users")
        %span.header-title Friends
      / = render "add_friend"
      = render "facebook_friends"
      = render "pending_friend_requests"
      = render "travel_buddies"
      = render "friends"
      / = render "outstanding_friend_requests"