= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}"

.row
  #map-canvas.jumbotron

.row
  .col-md-12.flash-messages
    - flash.each do |name, msg|
      = content_tag(:div, msg)

.row#dashboard-content
  .col-lg-3.col-md-3.col-sm-4
    .well#user-panel
      = link_to(fa_icon("edit"), edit_user_path(current_user), class: "edit-icon")
      .row
        .col-md-3
          #user-avatar= fa_icon("user")
        .col-md-9
          %h3.username= current_user.name
      #user_home_location
        %span Home:
        = user_home_location_name(current_user)
      #user-fave-cities
        %span.header-icon= fa_icon("heart")
        %small= current_user.favorite_cities.join(", ")
        .small= link_to(raw("#{fa_icon('plus-circle')} Add Favorite Location"), new_favorite_location_path)

    .well#friend-panel
      %h3
        %span.header-icon= fa_icon("users")
        %span.header-title Friends
      #accordion.panel-group{:role => 'tablist', 'aria-multiselectable' => 'true'}
        %h4.f_sec_head#headingOne{:role => 'tab'}
      = render "pending_friend_requests"
      = render "friends"
      = render "add_friend"


  .col-lg-9.col-md-9.col-sm-8
    .well.statbox
      = render "statbox"

    .well#addatrip
      = render "add_trip"

    .well#trips
      = render "trips"