.well
  = form_for @user do |f|

    = render "shared/form_errors", object: @user

    .form-group
      = f.label(:first_name)
      = f.text_field(:first_name, placeholder: "First name", class: "form-control")

    .form-group
      = f.label(:last_name)
      = f.text_field(:last_name, placeholder: "Last name", class: "form-control")

    .form-group
      = f.label(:email)
      = f.email_field(:email, placeholder: "Email", class: "form-control")

    .form-group
      = f.label(:home_location_id)
      
      %div{ng: {controller: "LocationSearchCtrl", init: "init('#user_home_location_id')"}}
        .current-home-loction
          = "Current Home Location: #{user_home_location_name(@user)}"
          = link_to(fa_icon("edit"), "#", "ng-click" => "displaySearchForm($event)")

        .updated-home-location{ng: {show: "location"}}
          = f.hidden_field(:home_location_id)
          New Home Location: {{location.city}} {{location.state_code}} {{location.country_code}}
        
        .home-location-search{ng: {show: "searchingLocations"}}
          = text_field_tag(:home_location, nil, placeholder: "Search by city", class: "form-control", "ng-model" => "searchTerms", "ng-keyup" => "onKeyUp($event)")

          %ul.search-results{ng: {model: "results", show: "searchTerms"}}
            %li{ng: {show: "searchTerms.length < 3"}} Please type more
            
            %li{ng: {repeat: "result in results", click: "selectLocation($event, result)"}}
              {{result.city}} {{result.state_code}} {{result.country_code}}
          
          = link_to("Cancel", "#", class: "btn btn-xs btn-default", "ng-click" => "cancelSearch($event)")

    .form-group
      = f.label(:password, "New password")
      = f.password_field(:password, placeholder: "Create new password", class: "form-control", autocomplete: "off")

    .form-group
      = f.label(:password_confirmation, "Confirm new password")
      = f.password_field(:password_confirmation, placeholder: "Confirm new password", class: "form-control", autocomplete: "off")

    - unless current_user.oauth?
      .form-group
        = f.label(:current_password)
        = f.password_field(:current_password, placeholder: "Current Password", class: "form-control", autocomplete: "off")
        %p.help-block Please enter your current password to confirm changes made to your account.
    
    = f.submit("Update Account", class: "btn btn-default")