!!! 5
%html
  %head
    %title Co:tripping
    %meta{property: "og:site_name", content: "co:tripping"}
    %meta{property: "og:title", content: "Travel is more fun with friends."}
    %meta{property: "og:url", content: "http://www.cotripping.com"}
    %meta{property: "og:image", content: "#{image_url("logo-facebook.png")}"}
    %meta{property: "og:description", content: "Whether you travel for business or pleasure, co:tripping makes the world a smaller place by connecting you with friends at every destination."}
    %meta{property: "fb:app_id", content: "#{ENV['FACEBOOK_APP_ID']}"}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = include_gon
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render "layouts/header"
    - flash.each do |name, msg|
      = content_tag(:div, msg)
    = yield